# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production
build/
dist/
out/

# Environment variables
.env
.env.local

# IDE
.DS_Store
.idea/
.vscode/
*.log

# Testing
coverage/
.nyc_output/